<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135580145473-suq7ir99of7vulfji7nuenrllae38fhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135580145473-suq7ir99of7vulfji7nuenrllae38fhj</string>
	<key>API_KEY</key>
	<string>AIzaSyDQci1j0jNeAJOHgg51f7jfwXahjPoM89U</string>
	<key>GCM_SENDER_ID</key>
	<string>135580145473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BumeFirebase</string>
	<key>PROJECT_ID</key>
	<string>bume-307515</string>
	<key>STORAGE_BUCKET</key>
	<string>bume-307515.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135580145473:ios:2744500047ea2c69fd73c0</string>
</dict>
</plist>